/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Header */
  header {
    background-color: #15171a;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo-image {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between the image and text */
    object-fit: cover; /* Ensure the image fits well in the circle */
  }
  
  .logo-text {
    margin-left: 10px; /* Adjust spacing between image and text */
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffd700;
  }
  
  /* Main Content */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  section h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
  }
  
  section p, section ul li {
    margin: 10px 0;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    list-style: disc;
  }
  
  /* Links */
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #15171a;
    color: #fff;
    position: relative;
  }
  
  footer p {
    margin: 0;
  }
  